{% extends "admin_pagina/adminbase.html" %}
{% load humanize %}
{% block title%} Detalhe do Pedido{% endblock %}



{% block content %}                                       
<div class="container mt-5">
 <div  class="row">
    <form action="{% url 'lojaapp:adminpedidomudar' pedido_obj.id %}"   method="post">
        {% csrf_token %}
        <select name="status">
        {% for i, j in todosstatus %}
        <option value="{{i}}"{% if i == pedido_obj.pedido_status  %} selected {% endif %}> {{j}}</option>
        {% endfor %}
         
        </select>

     <button class="btn btn-outline-danger"> Alterar Status</button>
    </form>
       <div class="col-md-6">

           <h3 class="text-center ml-5">Detalhe do Pedido</h3>
           <hr>
           <p> <span class="font-weight-bold">Pedido ID : </span>{{pedido_obj.id}}</p>
           <p> <span class="font-weight-bold">Status do Pedido: </span>{{pedido_obj.pedido_status}}</p>
           <p> <span class="font-weight-bold">Data Efetuado: </span>{{pedido_obj.criado_em}}</p>
           <p> <span class="font-weight-bold">Informação Cliente: </span>{{pedido_obj.ordenado_por}}</p>
           <p> <span class="font-weight-bold">Telefone Cliente: </span>{{pedido_obj.telefone}}</p>
           <p> <span class="font-weight-bold">Endereço Cliente: </span>{{pedido_obj.endereco_envio}}</p>   
           <hr>
           
        </div>         
    </div>                                    
<br>
<h1 class="text-center">Items do Pedidos</h1>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>Código</th>
            <th>Produto</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Subtotal</th>
        </tr>
        </thead>
        <tbody>
            {% for cp in pedido_obj.carro.carroproduto_set.all %}        
        <tr>
            <td>{{forloop.counter}}</td>
            <td> <a target="blank" href=" {% url 'lojaapp:produtodetalhe' cp.produto.slug %}">{{cp.produto.titulo}}{{cp.produto.id}}</a></td>
            <td>{{cp.avaliacao}}</td>
            <td>{{cp.quantidade}}</td>
            <td>{{cp.subtotal}}</td>
        </tr>
        {% endfor %}
        <tr>
            <th colspan="4" class="text-right">Valor Total</th>
            <th>Moeda: {{pedido_obj.total|intcomma}}</th>
        </tr>
        <tbody>
    </table>
    
</div>
<style>
    
</style>
<style>
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    
}
h2{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
}

/* Table Styles */

.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: red;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: red;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}

</style>


{% endblock %}