{% extends "base.html" %}

{% block title%} Registo Cliente {% endblock %}



{% block content%}
 <style>
     .errorlist{
         color: red;
         list-style: none;
     }
 </style>


                                        
<div class="container mt-5">
  
    <div  class="row">
        <h3>Registo</h3>
            <form action="" method="POST" >
                {% csrf_token %}
               {{form.as_p}}
               <button    class="btn btn-primary btn-danger" style="width: 250px; margin-left: 100px;"> Registar Cliente</button>
            </form>
            <p> faça o login  <a href="{% url 'lojaapp:clienteentrar' %}">Entrar</p> </a> 
    </div> 
</div>




{% endblock %}