{% extends "base.html" %}

{% block title%} HOME{% endblock %}

<!DOCTYPE html>

{% block content%}                                       
<div class="container">
    <div  class="row">
        {% for lista in produto_list %}  
        <div class="col-md-4">
            <div class="mt-4">
                <div class="card m-8"> 
                    <h4 class="text-center"><a href=" {% url 'lojaapp:produtodetalhe' lista.slug %}"> {{lista.titulo }} </h4></a>
                      <img  class="ml-5" src="{{lista.image.url}}" width="150px">
                              <p class="m-4">PREÇO: <strike> € .{{lista.preco_mercado }}</strike> € {{lista.venda}}</p> 
                            <div class="text-left"> 
                                {% for cp in carro.carroproduto_set.all %}   {% endfor %}
                                <a href="{% url 'lojaapp:produtodetalhe' lista.slug %}"> <button class="btn btn-danger mr-5" type="button">Comprar</button> </a>  
                                <a href="{% url 'lojaapp:meucarro'  %}"> <button class="btn btn-danger " type="button" >Carrinho</button> </a>                   
                                 <a href="{% url 'lojaapp:meucarro'%}" class="btn btn-outline-danger btn-sm mt-1 "> + </a>
                                <a href="{% url 'lojaapp:meucarro'%}" class="btn btn-outline-danger btn-sm mt-1 "> - </a>
                                <a href="{% url 'lojaapp:meucarro'%}" class="btn btn-outline-danger btn-sm mt-1 " > x </a> 
                              <!--<div class="mr-1"> total:£{{carro.total}} </div>-->    
                             </div>
                            
                   </div>             
              </div>
          </div>
{% endfor %}
     </div> 
</div>
{% endblock %}