
   {% extends 'base.html' %}
   {% block title%}TODOS PRODUTOS{% endblock %}
  
{% block content %}
            <div class="container">
                <h4>Produto: {{produto.titulo}}</h4><hr>  
                <div class="row">
                    <div class="col-md-6">
                        <img src="{{produto.image.url}} " alt="" class="img-fluid" width="380px">
                    </div>  
                    <div class=" col-md-6 text-left">
                        <h3>{{produto.titulo}} ( {{produto.visualizacao}} visualizações)<h3>
                        <h4>Categoria: {{produto.categoria}}<h4>
                            <h5 class="mt-3">Preço:<strike> € .{{produto.preco_mercado}}</strike> €. {{produto.venda}}</h5>
                            <a href="{% url 'lojaapp:addcarro' produto.id %}" class="btn btn-success">Comprar</a><hr>
                            <p class="text-danger"> Garantia:{{produto.garantia}}</p>
                            <p class="text-danger"> Politica Devolução:{{produto.return_devolucao}}</p><hr>
                            <p class="text-success">Descrição do Produto: {{produto.descricao}}</p>
                     </div>     
                </div>    
            </div>   
{% endblock %}
